body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

#game-container {
    width: 300px;
    margin: auto;
}

#question-container {
    margin-bottom: 20px;
}

#answer {
    margin-bottom: 10px;
}

#score-container {
    margin-top: 20px;
}